<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>/assignment9</title>
</head>
<body>
{% include 'headerForAssignment8.html' %}
<h1>Search Form</h1>
<form action="/assignment9" method="GET">
    <input name="name" placeholder=" Person_name">
    <input type="submit">
</form>
 {{message}}
<br>
    {{name}}
<br>
    {{email}}
{% if session %}
    hi, {{ username }}
        <form action="/assignment9" method="POST">
            <button type="submit" name="logout">
                logout
            </button>
        </form>
{% else %}

<h1>Registration Form</h1>
<form action="/assignment9" method="POST">
      <input name="username" type="username" placeholder="NICKNAME" id="username" required><br><br>
      <input type="E-mail" placeholder="E-mail" id="E-mail" required><br><br>
      <button type="submit">submit</button>
</form>
         <h4> Your Username is: {{ username }}</h4>
 {% endif %}

<h4>Hello {{ name | default('user',true) }} {{ username }}!</h4>

</body>
</html>
