<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
             <script src="../static/ex7.js">Users</script>

    <title> ex7 313583296</title>
</head>
<body>
    <h1>User:{{ user }}</h1>
    <main>

    </main>

<!--     <script type="text/javascript">-->
<!--            var userToSearch = {{ user }}-->
<!--        </script>-->
<!--       <script type="text/javascript" {{ url_for('static', filename='ex7.js')}}></script>-->

</body>
</html>